version: '3.7'
services:
  main:
    build: .
    volumes:
      # Volume mounts for the datasets.
      # Edit to suit your environment. Remove entries for datasets that you don't intend to
      # use.
      - /host/path/to/h36m:/datasets/h36m:ro
      - /host/path/to/mpi3d:/datasets/mpi3d:ro
      - /host/path/to/mpii:/datasets/mpii:rw
      # Other volume mounts.
      - .:/app
      - ~/.cache/torch/checkpoints:/home/user/.cache/torch/checkpoints:rw
      - /etc/localtime:/etc/localtime:ro
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /etc/hostname:/etc/hostname:ro
    environment:
      - CUDA_DEVICE_ORDER=PCI_BUS_ID
      - DISPLAY
      - PYTHONIOENCODING=utf_8
#    env_file:
#      - showoff/showoff-client.env
    init: true
    ipc: host
    network_mode: host
