GitPython==3.1.0
Pillow==7.0.0
dsntnn==0.5.2
graphviz==0.8
h5py==2.10.0
importlib_resources==0.4.0
matplotlib==2.2.5
numpy==1.18.1
opencv-python==4.2.0.34
pandas==0.25.3
plotly==2.3.0
pretrainedmodels==0.7.4
pymongo==3.6.0
sacred==0.7.3
scipy==1.4.1
semantic_version==2.6.0
tabulate==0.8.2
torch==1.4.0
torchvision==0.5.0
tqdm==4.31.1
tvl[OpenCvBackend]==0.1.0b17
git+https://github.com/anibali/pyshowoff.git@3396cb916c390886873fb0a6b8515f91c0c1574c#egg=pyshowoff
git+https://github.com/anibali/tele.git@c5560a5a7c453ab9f9520b8a372656b5eee8e33b#egg=tele
git+https://github.com/anibali/pose3d-utils@9251f832d9b7aa38e1e5b592965e5f557317ec36#egg=pose3d-utils
git+https://github.com/anibali/torchdata.git@d52d0c8b9307389eadfba643ec1bb0ef77bc210e#egg=torchdata

# Development and testing
pytest==3.8.2
